
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <link rel="stylesheet" href="/css/style.css">
          <title>Confirmacion</title>
        </head>
        <body id="todo">
          <p id="subtitle">Los datos recibidos son:</p>
          <ul id="lista" style="list-style: none;">
            <li>Nombre: <%= nombre %></li>
            <li>Correo: <%= correo %></li>
            <li>Curso: <%= curso %></li>
            <li>Nivel: <%= nivel %></li>
            <li>Costo: S/.<%= costo %></li>
            <li>Pago con: <%= metodo %></li>
          </ul>
          <h1 id="title">INSCRITO CORRECTAMENTE</h1>
      </div>
        </body>
      </html>